<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Skydat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Skydat.Properties.Settings>
            <setting name="portname" serializeAs="String">
                <value/>
            </setting>
            <setting name="baudrate" serializeAs="String">
                <value/>
            </setting>
            <setting name="rtport" serializeAs="String">
                <value/>
            </setting>
            <setting name="wtport" serializeAs="String">
                <value/>
            </setting>
            <setting name="backimg" serializeAs="String">
                <value/>
            </setting>
        </Skydat.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
